.container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 16px;
  padding: 0px 32px;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}

.categoryTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.category {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-bottom: 10px;
  padding: 16px;
}

.container::-webkit-scrollbar {
  height: 8px;
}

.container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.container::-webkit-scrollbar-track {
  background: transparent;
}
